# Archivos que se ignoran cuando haces el git de una nueva versión, archivos temporales y de caché
# Archivos Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos generados - piezas CAD e imágenes
parts/

# Archivos temporales de LangGraph u otros checkpoints
.langgraph_api/
*.pckl
*.tmp

# Archivos de entorno
.env

# Node modules y archivos de build del frontend
frontend/node_modules/
frontend/dist/
frontend/build/

# Archivos del sistema o de editores
.DS_Store
.vscode/

# Logs
frontend/logs
*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?